<div class="container-fluid">
  <div class="row mt-5 bg-dark text-white">
    <div class="col-lg-12">
      <p class="ml-3 pt-4 pb-3" style="font-size: x-small">* Some accessories and software sold separately. See
        individual product pages for
        details.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <div class="row ml-5 mt-3">
        <p>Follow this page </p>
        <a href="#" class="ml-3"><i class="fab fa-facebook"></i></a>
        <a href="#" class="ml-3"><i class="fab fa-twitter"></i></a>
        <a href="#" class="ml-3"><i class="fab fa-instagram"></i></a>
        <a href="#" class="ml-3"><i class="fab fa-linkedin"></i></a>
      </div>

    </div>
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <div class="row mt-3 ml-5">
        <p>Share this page</p>
        <a href="#" class="ml-3"><i class="fab fa-facebook"></i></a>
        <a href="#" class="ml-3"><i class="fab fa-twitter"></i></a>
        <a href="#" class="ml-3"><i class="fab fa-instagram"></i></a>
        <a href="#" class="ml-3"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row" style="background-color: #c6c8ca">
    <div class="col-lg-12">
      <div class="row ">
        <div class="col-lg-2 mt-4 text-center">
          <p><b class="text-body">What's new</b></p>
          <p><a href="#" class="text-dark text-muted text-footer">Surface Laptop 4</a></p>
          <p><a href="#" class="text-dark text-muted text-footer">Surface Laptop Go</a></p>
          <p><a href="#" class="text-dark text-muted text-footer">Surface Go 2</a></p>
          <p><a href="#" class="text-dark text-muted text-footer">Surface Pro X</a></p>
          <p><a href="#" class="text-dark text-muted text-footer">Surface Duo</a></p>
          <p><a href="#" class="text-dark text-muted text-footer">Microsoft 365</a></p>
          <p><a href="#" class="text-dark text-muted text-footer">Windows 10 apps</a></p>
          <p><a href="#" class="text-dark text-muted text-footer">HoloLens 2</a></p>
        </div>
        <div class="col-lg-2 mt-4 text-center">
          <p><b class="text-body">Microsoft Store</b></p>
          <p><a href="#" class="text-dark text-muted text-footer">Account profile</a></p>
          <p><a href="#" class="text-dark text-muted text-footer">Download Center</a></p>
          <p><a href="#" class="text-dark text-muted text-footer">Microsoft Store support</a></p>
          <p><a href="#" class="text-dark text-muted text-footer">Returns</a></p>
          <p><a href="#" class="text-dark text-muted text-footer">Order tracking</a></p>
          <p><a href="#" class="text-dark text-muted text-footer">Virtual workshops and training</a></p>
          <p><a href="#" class="text-dark text-muted text-footer">Microsoft Store Promise</a></p>
          <p><a href="#" class="text-dark text-muted text-footer">Financing</a></p>
        </div>
        <div class="col-lg-2 mt-4 text-center">
          <p><b class="text-body">Education</b></p>
          <p><a href="#" class="text-dark text-muted text-footer">Microsoft in education</a></p>
          <p><a href="#" class="text-dark text-muted text-footer">Office for students</a></p>
          <p><a href="#" class="text-dark text-muted text-footer">Office 365 for schools</a></p>
          <p><a href="#" class="text-dark text-muted text-footer">Deals for students & parents</a></p>
          <p><a href="#" class="text-dark text-muted text-footer">Microsoft Azure in education</a></p>
        </div>
        <div class="col-lg-2 mt-4 text-center">
          <p><b class="text-body">Enterprise</b></p>
          <p><a href="#" class="text-dark text-muted text-footer">Azure</a></p>
          <p><a href="#" class="text-dark text-muted text-footer">AppSource</a></p>
          <p><a href="#" class="text-dark text-muted text-footer">Automotive</a></p>
          <p><a href="#" class="text-dark text-muted text-footer">Government</a></p>
          <p><a href="#" class="text-dark text-muted text-footer">Healthcare</a></p>
          <p><a href="#" class="text-dark text-muted text-footer">Manufacturing</a></p>
          <p><a href="#" class="text-dark text-muted text-footer">Financial services</a></p>
          <p><a href="#" class="text-dark text-muted text-footer">Retail</a></p>
        </div>
        <div class="col-lg-2 mt-4 text-center">
          <p><b class="text-body">Developer</b></p>
          <p><a href="#" class="text-dark text-muted text-footer">Microsoft Visual Studio</a></p>
          <p><a href="#" class="text-dark text-muted text-footer">Windows Dev Center</a></p>
          <p><a href="#" class="text-dark text-muted text-footer">Developer Center</a></p>
          <p><a href="#" class="text-dark text-muted text-footer">Microsoft developer program</a></p>
          <p><a href="#" class="text-dark text-muted text-footer">Channel 9</a></p>
          <p><a href="#" class="text-dark text-muted text-footer">Office Dev Center</a></p>
          <p><a href="#" class="text-dark text-muted text-footer">Microsoft Garage</a></p>
        </div>
        <div class="col-lg-2 mt-4 text-center">
          <p><b class="text-body">Company</b></p>
          <p><a href="#" class="text-dark text-muted text-footer">Careers</a></p>
          <p><a href="#" class="text-dark text-muted text-footer">About Microsoft</a></p>
          <p><a href="#" class="text-dark text-muted text-footer">Company news</a></p>
          <p><a href="#" class="text-dark text-muted text-footer">Privacy at Microsoft</a></p>
          <p><a href="#" class="text-dark text-muted text-footer">Investors</a></p>
          <p><a href="#" class="text-dark text-muted text-footer">Diversity and inclusion</a></p>
          <p><a href="#" class="text-dark text-muted text-footer">Accessibility</a></p>
          <p><a href="#" class="text-dark text-muted text-footer">Security</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="background-color: #c6c8ca">
    <div class="col-lg-12 ">
      <div class="row">
        <div class="col-lg-2 text-center">
          <a class="text-footer text-dark" href="#"><img src="../../bootstrap-icons-1.4.1/globe.svg" alt="">
            English (United States)
          </a>
        </div>
        <div class="col-lg-2"></div>
        <div class="col-lg-8 text-center pl-0">
          <a href="#" class="text-footer text-dark">Sitemap</a>
          <a href="#" class="text-footer text-dark ml-3">Contact Microsoft</a>
          <a href="#" class="text-footer text-dark ml-3">Privacy</a>
          <a href="#" class="text-footer text-dark ml-3">Terms of use</a>
          <a href="#" class="text-footer text-dark ml-3">Trademarks</a>
          <a href="#" class="text-footer text-dark ml-3">Safety & eco</a>
          <a href="#" class="text-footer text-dark ml-3">About our ads</a>
          <a class="text-footer ml-3 text-dark">© Microsoft 2021</a>
        </div>
      </div>
    </div>
  </div>
</div>
