<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h6>Mô Tả</h6>
        <p><strong>SieuThi24h là một trong những website đặc thù áp dụng công nghệ thông tin vào hoạt động bán hàng qua
          mạng và sau này sẽ có xu hướng mở rộng.  Việc giao dịch với khách hàng chủ yếu diễn ra trên website.</strong></p>

      </div>
      <div class="col-md-3 blog">
        <h6>Địa Điểm</h6>
        <p class="title"><a
          href="https://www.google.com/maps/place/B%E1%BB%93+B%E1%BA%A3n,+Tp.+%C4%90%C3%B4ng+H%C3%A0,+Qu%E1%BA%A3ng+Tr%E1%BB%8B,+Vi%E1%BB%87t+Nam/@16.8432785,107.1814078,15z/data=!3m1!4b1!4m5!3m4!1s0x3140e6ae057678e9:0x16d5b2749c74f9e0!8m2!3d16.8394591!4d107.1892179"
          title="">Cơ Sở 1: Triệu Phước/Triệu Phong/Quảng Trị</a></p>

        <p>
          <a href="https://www.google.com/maps/place/H%C3%B2a+Qu%C3%BD,+Ng%C5%A9+H%C3%A0nh+S%C6%A1n,+%C4%90%C3%A0+N%E1%BA%B5ng,+Vi%E1%BB%87t+Nam/@15.9869864,108.2009761,13z/data=!3m1!4b1!4m5!3m4!1s0x31421a77ca1833b3:0xc7a365458cf781b8!8m2!3d15.982958!4d108.2334189"
             title="">Cơ Sở 2: Hòa Quý/Ngủ Hành Sơn/Đà Nẳng</a></p>
      </div>
      <div class="col-md-3">
        <h6>Bạn Có Thể Cần:</h6>
        <ul>
          <li><a href="#" title="">Lên Trên</a></li>

        </ul>
      </div>
      <div class="col-md-3 contact-info">
        <h6>Liên Lạc</h6>
        <p class="c-details">
          <span>Mail</span> <a href="#" title="">nhkhanh.17ce@vku.udn.vn</a><br>
          <span>Tel</span> 0367761054
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 copyright">
        <p>&copy; Copyright 2021. All rights reserved. <a href="#" title="PetCare wordpress theme">SieuThi24h</a></p>
      </div>
    </div>
  </div>
</div>
