<div class="container-fluid">
<app-header></app-header>
<h2 class="text-center mt-3" style="color: darkblue; font-size: 35px">DANH SÁCH ĐƠN HÀNG</h2>
<div class="row mt-5 px-0 mx-0" style="height: 80%;">
  <div class="col-lg-12 col-sm-12">
    <div class="row">
      <div class="col-2 col-xl-2 col-sm-2 col-lg-2">
        <button class="fas fa-plus-circle btn btn-success ml-5" routerLink="/statistic" >Thống kê doanh thu</button>
      </div>
    </div>
    <form [formGroup]="searchOrder" (ngSubmit)="search()" >
      <div class="row mb-2">
        <div class="col-2 col-xl-2 col-sm-2 col-lg-2">
        </div>
        <div class="col-6 col-xl-6 col-sm-6 col-lg-6">
        </div>
        <div class="col-lg-3 col-xl-3 col-sm-3">
          <input type="text" class="form-control border-dark " placeholder="Tìm kiếm..." formControlName="key">
        </div>
        <div class="col-lg-1 col-xl-1 col-sm-1">
          <button type="submit" class="btn btn-success"><i class="fas fa-search-plus"></i></button>
        </div>
      </div>
    </form>
    <div class="row">
      <table class="table table-striped table-responsive-md">
        <thead>
        <tr>
          <th class="text-center ">Mã Order</th>
          <th class="text-center ">Tên SP</th>
          <th class="text-center ">Account</th>
          <th class="text-center ">Tổng tiền</th>
          <th class="text-center ">Số Lượng</th>
          <th class="text-center ">Địa chỉ giao hàng</th>
          <th class="text-center ">Số Điện Thoại</th>
          <th class="text-center ">Trạng Thái</th>
          <th class="text-center ">Chức Năng</th>


        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let list of listOrder">
          <th scope="row">{{list.id.ordersId}}</th>
          <td>{{list.product.productName}}</td>
          <td>{{list.orders.account.account}}</td>
          <td>{{list.orders.total|currency: "VND"}}</td>
          <td>{{list.quantity}}</td>
          <td>{{list.orders.address}}</td>
          <td>{{list.orders.phone}}</td>
          <td *ngIf="list.orders.statusContract.status === 'Đã Duyệt'" style="color: blue">{{list.orders.statusContract.status}}</td>
          <td *ngIf="list.orders.statusContract.status === 'Đang Giao'" style="color: blue">{{list.orders.statusContract.status}}</td>
          <td *ngIf="list.orders.statusContract.status != 'Đã Duyệt'" style="color: red">{{list.orders.statusContract.status}}</td>
          <td>
            <button class="btn btn-outline-success" *ngIf="list.orders.statusContract.status === 'Đã Duyệt'"><i class="fas fa-check" ></i></button>
            <button class="btn btn-outline-danger" (click)="changeStatus(list.id.ordersId)" *ngIf="list.orders.statusContract.status != 'Đã Duyệt'">
              <i class="fas fa-exclamation"></i></button>
            <button type="button" class=" border-0 btn btn-outline-danger" data-bs-toggle="modal"
                    data-bs-target="#exampleModalDelete" (click)="delete(list.id.ordersId)"
            ><i class="fas fa-trash-alt"></i></button>
          </td>

        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
<nav aria-label="..." class="d-flex justify-content-end mt-3 mr-5">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" (click)="getPage(0)">Đầu</a>
    </li>
    <li class="page-item" >
      <a class="page-link" tabindex="-1" *ngIf="(indexPagination-1)>0" (click)="getPage((indexPagination-2))">Trước</a>
    </li>
    <li class="page-item"><a class="page-link" *ngIf="(indexPagination-1)>0" (click)="getPage((indexPagination-2))">{{indexPagination - 1}}</a></li>
    <li class="page-item active" aria-current="page">
      <a class="page-link"(click)="getPage((indexPagination-1))">{{indexPagination}}</a>
    </li>
    <li class="page-item"><a class="page-link" *ngIf="(indexPagination +1)<= totalPagination" (click)="getPage((indexPagination))">{{indexPagination + 1}}</a></li>
    <li class="page-item">
      <a class="page-link" *ngIf="(indexPagination +1)<= totalPagination" (click)="getPage((indexPagination))">Sau</a>
    </li>
    <li class="page-item">
      <a class="page-link" (click)="getPage((totalPagination-1))">Cuối</a>
    </li>
  </ul>
</nav>
<app-footer></app-footer>
