<div class="container-fluid ">
  <div class="row header" style="background: #3ba66b">
    <div class="col-md-2 col-xl-2 col-sm-12 col-2">
      <div class="nav-logo">
        <a routerLink="/home">
          <img class="ml-5" src="assets/img/logo.png" alt=" " width="90px">
        </a>
      </div>
    </div>
    <div class="col-xl-5 col-md-12 col-sm-12 col-5 pt-3">
    </div>
    <div class="col-xl-3 col-sm-3 col-md-3 dki-dnhap">
    </div>
    <div class="col-xl-1 col-sm-1 col-md-1">
    </div>
  </div>

  <h2 class="text-center mt-3" style="color: darkblue; font-size: 35px">Danh sách sản phẩm đã mua</h2>
  <div class="row">
    <div class="col-9"></div>
    <div class="col-3 total">Tổng số tiền: {{numToString(toltal)}}đ</div>
  </div>
  <table id="tableComputer" class="table table-striped  " style="width: 100%">
    <thead class="table-primary text-center">
    <tr>
      <th class="text-center ">Mã SP</th>
      <th class="text-center ">Hình Ảnh</th>
      <th class="text-center ">Tên SP</th>
      <th class="text-center ">Giá</th>
      <th class="text-center ">Ngày Mua</th>
      <th class="text-center ">SL</th>
      <th class="text-center ">Trạng Thái</th>
      <th class="text-center ">Thành Tiền</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let list of listOrderProduct">
      <th scope="row">{{list.product.productId}}</th>
      <td class="text-center "><img [src]="'assets/img/' +list.product.productImage" alt="" width="150px"
                                    height="100px"></td>
      <td class="text-center ">{{list.product.productName}}</td>
      <td class="text-center ">{{numToString(list.product.productPrice)}}đ</td>
      <td class="text-center ">{{list.orders.orderDate |date: 'dd/MM/yyyy'}}</td>
      <td class="text-center ">{{list.quantity}}</td>
      <td *ngIf="list.orders.statusContract.status === 'Đã Duyệt'" style="color: blue">{{list.orders.statusContract.status}}</td>
      <td *ngIf="list.orders.statusContract.status === 'Đang Giao'" style="color: blue">{{list.orders.statusContract.status}}</td>
      <td *ngIf="list.orders.statusContract.status != 'Đã Duyệt'" style="color: red">{{list.orders.statusContract.status}}</td>
      <td class="text-center ">{{numToString(list.product.productPrice * list.quantity)}}đ</td>
    </tr>
    </tbody>
  </table>
  <h2 class="text-center mt-3" style="color: red; font-size: 35px" *ngIf="!check">Bạn Chưa Mua Sản Phẩm</h2>
</div>
