.nav__mobile-list {
  margin-top: 24px;
  list-style: none;
  font-size: 1rem;
}
.nav-logo{
  margin-top: 1rem;
}
::placeholder {
  font-size: 70%;
}
.nav__mobile-list hr {
  margin-right: 10px;
}
.nav__mobile-list-user {
  display: flex;
}
.nav__mobile-list-user label {
  color: white;
  font-size: 20px;
}
.nav__mobile-list-user i {
  font-size: 1.2rem;
  margin-right: 10px;
  color: white;
}
.nav__mobile-list-user a {
  list-style: none;
  text-decoration: none;
  color: white;
  font-size: 18px;
}
.shopping {
  display: flex;
  position: relative;
}
.cart{
  margin-top: 24px;
  list-style: none;
  font-size: 1.9rem;
  color: white;
}
.dki-dnhap{
  margin-left: 20px;
}
.soluongcart{
  position: absolute;
  left: 2.6em;
  bottom: 4em;
  font-weight: bold;
  font-size: 1em;
  color: red;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;

  background-color: #ffac4b;
  object-fit: cover;
}


/*dropdown-userName*/
.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}
.deal-flash:hover{
  box-shadow: 0 6px 10px 6px rgba(0, 0, 0, 0.05), 0 8px 12px 8px rgba(0, 0, 0, 0.03);
  cursor: pointer;
  text-decoration: none;
}
.slick-slider {
  width: 88%;
  margin: auto;
  /*background: rgb(14, 13, 13);*/
}

body .slick-prev,
body .slick-next {
  height: 45px;
  width: 40px;
  background: grey !important;
  z-index: 100;
}
.categoriesList{
  color: white;
  text-decoration: none;
  font-size: 13px;
  font-weight: 400;
  margin: 16px 0 4px;
  line-height: 20px;
  word-break: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.total{
  color: rgb(255, 66, 78);
}
