<h1 mat-dialog-title>Thông tin khách hàng</h1>
<mat-dialog-content>
  <p>Mã Khách Hàng: <span class="text-primary">{{data.customers.idCustomer}}</span></p>
  <p>Tên Khách Hàng: <span class="text-primary">{{data.customers.nameCustomer}}</span></p>
  <p>Số Điện Thoại: <span class="text-primary">{{data.customers.phone}}</span></p>
  <p>Email: <span class="text-primary">{{data.customers.email}}</span></p>
  <p>Địa Chỉ: <span class="text-primary">{{data.customers.address}}</span></p>
  <p>Chứng Minh Nhân Dân: <span class="text-primary">{{data.customers.idCard}}</span></p>
  <p>Tài Khoản: <span class="text-primary">{{data.account}}</span></p>


</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="btn btn-info" mat-button mat-dialog-close>Đóng</button>

</mat-dialog-actions>
