<app-header-view></app-header-view>
<div class="container">
  <div class="row mb-2 mt-4" style="background-color:#FFFAFA;border-radius: 10px ">
    <div class="row giasoc">
      <div class="row">
        <img src="./assets/img/giasoc.svg" class="price-shock" alt="">
        <img src="./assets/img/dealFlashIcon.svg" alt="" class="flash-icon">
        <img src="./assets/img/homnay.svg" class="today" alt="">
      </div>
    </div>
    <a href="#" class="time-1">
      <div class="timer">
        <span class="hour">00</span>
        :
        <span class="min">00</span>
        :
        <span class="sec">00</span>
        <img src="./assets/img/ar.png">
      </div>
    </a>
    <ngx-slick-carousel class="carousel"
                        #slickModal="slick-carousel"
                        [config]="slideConfig"
                        (init)="slickInit($event)"
                        (breakpoint)="breakpoint($event)"
                        (afterChange)="afterChange($event)"
                        (beforeChange)="beforeChange($event)">
      <div ngxSlickItem *ngFor="let list of listProduct" class="slide ">
        <a class="deal-flash" [routerLink]="['/detail-product', list.productId]">
        <div class="m-1">
          <img [src]="'assets/img/' +list.productImage" alt="" width="100%">
          <h5  class="suggestion__items-title">{{list.productName}}</h5>
          <p class="card-text text-danger">{{list.productPrice |currency: "VND"}}</p>
        </div>
        <div class="deal-qty">
          <div class="deals-progress"></div>
          <span>Sắp bán hết</span>
          <img class="fire-icon" src="./assets/img/fire_icon.svg" alt="">
        </div>
        </a>
      </div>
    </ngx-slick-carousel>
    <div class="row"></div>
  </div>

</div>
<div class="suggestion__body">
  <a href="#" class="suggestion__items" *ngFor="let list of listProduct" [routerLink]="['/detail-product', list.productId]">
    <picture class="suggestion__img-container">
      <img [src]="'assets/img/' +list.productImage" alt="" class="suggestion__items-img">
<!--      <img src="./assets/img/suggestion_img/freeShip.png" alt="" class="suggestion__freeship">-->
    </picture>
    <div class="suggestion__items-title">{{list.productName}}</div>
    <div class="suggestion__items-rate">
      <div class="rate__stars">
        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" size="16" color="#fdd836" height="14" width="14" xmlns="http://www.w3.org/2000/svg" style="color: rgb(253, 216, 54);"><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path></svg>
        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" size="16" color="#fdd836" height="14" width="14" xmlns="http://www.w3.org/2000/svg" style="color: rgb(253, 216, 54);"><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path></svg>
        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" size="16" color="#fdd836" height="14" width="14" xmlns="http://www.w3.org/2000/svg" style="color: rgb(253, 216, 54);"><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path></svg>
        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" size="16" color="#fdd836" height="14" width="14" xmlns="http://www.w3.org/2000/svg" style="color: rgb(253, 216, 54);"><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path></svg>
        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" size="16" color="#fdd836" height="14" width="14" xmlns="http://www.w3.org/2000/svg" style="color: rgb(253, 216, 54);"><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path></svg>
      </div>
      <div class="suggestion__pseudo"></div>
      <div class="suggestion__items-sold">Số lượng còn lại {{list.productQuantity}}</div>
    </div>
    <div class="suggestion__items-price">
      <div class="items-price">{{list.productPrice}} ₫</div>
      <div class="items-discount">-4%</div>
    </div>
  </a>
</div>

<app-footer></app-footer>
