<div class="container-fluid ">
  <div class="row header" style="background: #3ba66b">
    <div class="col-md-2 col-xl-2 col-sm-12 col-2">
      <div class="nav-logo">
        <a [routerLink]="['/home']">
          <img class="ml-5" src="assets/img/logo.png" alt=" " width="90px">
        </a>

      </div>
    </div>
    <div class="col-xl-5 col-md-5 col-sm-5 col-5 pt-3">
      <form class="my-2 my-lg-0" [formGroup]="searchProduct" (ngSubmit)="search()">
        <div class="row m-2">
          <div class="col-8 col-sm-8 col-md-8">
            <input class="form-control mr-sm-2" type="text" formControlName="key"
                   placeholder="Tìm sản phẩm,thương hiệu hay danh mục mà bạn muốn... " aria-label="Search">
          </div>
          <div class="col-4 col-sm-4 col-md-4">
            <button class="btn" style="background: #abdde5" type="submit"><i class="fas fa-search"></i> Tìm
              Kiếm
            </button>
          </div>
        </div>
      </form>
      <ngx-slick-carousel class="carousel"
                          #slickModal="slick-carousel"
                          [config]="slideConfig"
                          (init)="slickInit($event)"
                          (breakpoint)="breakpoint($event)"
                          (afterChange)="afterChange($event)"
                          (beforeChange)="beforeChange($event)">
        <div ngxSlickItem *ngFor="let categories of listCategories" class="slide ">
          <a class="deal-flash" (click)="searchByCategories(categories.categoryName)">
            <div class="m-1">
              <h5 class=" categoriesList">{{categories.categoryName}}</h5>
            </div>
          </a>
        </div>
      </ngx-slick-carousel>
    </div>

    <div class="col-xl-3 col-sm-3 col-md-3 dki-dnhap">
      <ul class="nav__mobile-list">
        <li class="nav__mobile-list-user">
          <p *ngIf="username===''"><i class="fas fa-user"></i><a routerLink="/login">Đăng nhập</a> <label>/</label> <a
            (click)="openRegistration()">Đăng ký</a>
          </p>
          <div *ngIf="username!=''" class="dropdown"><i class="fas fa-user dropbtn"> {{username}}</i>
            <div class="dropdown-content">
              <a *ngIf="username ==='admin'" routerLink="/product-list">Quản lý trang Admin</a>
              <a [routerLink]="['/detail-users', username]">Thông tin cá nhân</a>
              <a (click)="logOut()">Đăng xuất</a>
            </div>
          </div>
        </li>
        <hr>
      </ul>
    </div>
    <div class="col-xl-1 col-sm-1 col-md-1">
      <a routerLink="/detail-cart"><i class="fas fa-shopping-cart cart"></i>
        <p class="soluongcart">{{totalNumber}}</p></a>
    </div>

  </div>
</div>

<div class="container">
  <div class="row mt-5" style="background-color: #FFFAFA;border-radius:10px ">
    <div class="col-5 col-md-5 col-md-5 col-sm-12">
      <img [src]="'assets/img/' + product.productImage" width="100%">
    </div>

    <div class="col-7 col-md-7 col-md-7 col-sm-12">

      <div class="suggestion__items-title">{{product.productName}}</div>
      <div class="suggestion__items-rate">
        <div class="rate__stars">
          <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" size="16" color="#fdd836"
               height="14" width="14" xmlns="http://www.w3.org/2000/svg" style="color: rgb(253, 216, 54);">
            <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
          </svg>
          <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" size="16" color="#fdd836"
               height="14" width="14" xmlns="http://www.w3.org/2000/svg" style="color: rgb(253, 216, 54);">
            <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
          </svg>
          <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" size="16" color="#fdd836"
               height="14" width="14" xmlns="http://www.w3.org/2000/svg" style="color: rgb(253, 216, 54);">
            <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
          </svg>
          <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" size="16" color="#fdd836"
               height="14" width="14" xmlns="http://www.w3.org/2000/svg" style="color: rgb(253, 216, 54);">
            <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
          </svg>
          <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" size="16" color="#fdd836"
               height="14" width="14" xmlns="http://www.w3.org/2000/svg" style="color: rgb(253, 216, 54);">
            <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
          </svg>
        </div>
        <div class="suggestion__pseudo"></div>
        <div class="suggestion__items-sold">Số lượng còn lại {{product.productQuantity}}</div>
      </div>
      <div class="row">
        <p class="thuong_hieu mt-1">Thương hiệu: {{product.trademark}}</p>
      </div>
      <div class="row price mt-1">
        <div>{{product.productPrice|currency:'VND'}}</div>
      </div>
      <div class="row">
        <div>Số lượng: </div>
        <div class="cart_quantity mb-3">
          <div class="cart_quantity_button">
            <a class="cart_quantity_up" (click)="quantity_up()"> + </a>
            <input class="cart_quantity_input" type="text" name="quantity" [value]="quantity" autocomplete="off"
                   size="2">
            <a class="cart_quantity_down" (click)="quantity_down()"> - </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6 col-md-6 col-sm-6">
          <button class="btn btn-cart" *ngIf="product.productQuantity<=0"><i class="fas fa-cart-plus"></i>Hết Hàng</button>
          <button class="btn btn-cart" *ngIf="product.productQuantity >0"  (click)="add(product.productId,product.productName,
          product.productPrice,quantity)"><i class="fas fa-cart-plus"></i>Thêm Vào Giỏ Hàng</button>
        </div>
        <div class="col-6 col-md-6 col-sm-6">
          <button class="btn btn-buy" *ngIf="product.productQuantity >0">Mua Ngay</button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
