.slick-slider {
  width: 88%;
  margin: auto;
  background: rgb(14, 13, 13);
}

body .slick-prev,
body .slick-next {
  height: 45px;
  width: 40px;
  background: grey !important;
  z-index: 100;
}
.thuong_hieu{
  font-size: 13px;
  color: rgb(56, 56, 61);
}
.suggestion__items-title{
  height: 100px;
  font-size: 25px;
  font-weight: 400;
  margin: 16px 0 4px;
  line-height: 20px;
  color: rgb(56, 56, 61);
  word-break: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.suggestion__items-rate{
  display: flex;
  align-items: center;
}
.rate__stars{
  letter-spacing: -5px;
}
.suggestion__items-sold{
  color: rgb(120, 120, 120);
  font-size: 11px;
  line-height: 14px;
}
.suggestion__pseudo{
  width: 1px;
  height: 9px;
  background-color: rgb(199, 199, 199);
  margin: 0 6px;
}
.suggestion__items-price{
  margin-top: 4px;
  display: flex;
  align-items: center;
}
.btn-cart{
  background: rgba(255,87,34,0.1);
  color: #ee4d2d;
  border: 1px solid;
  width: 250px;
  height: 48px;
}
.btn-buy{
  color: #fff;
  background: #ee4d2d;
  width: 250px;
  height: 48px;
}
.price{
  text-align: center;
  font-size: 1.875rem;
  height: 100px;
  line-height: 24px;
  font-weight: 600;
  color: #ee4d2d;
  background: #fafafa;
}
